<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <a class="navbar-brand" href="#">
        <img src="./assets/images/logo/logo.svg" width="60" height="60" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto navbarUL">
        <li class="nav-item">
            {% if page.title=="Homepage" %}
                <a class="nav-link current" href="#">Home </a>
            {% else %}
                <a class="nav-link" href="#">Home </a>
            {% endif %}

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Blog</a>
        </li>
      </ul>
    </div>
  </nav>