<nav class="navbar navbar-expand-lg navbar-dark bg-transparent sticky-top">
    <a class="navbar-brand" href="#">
        <img src="/assets/images/logo/logo.svg" width="60" height="60" class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto navbarUL">
        <li class="nav-item">
          {% if page.name=="index.html" %}
            <a class="nav-link current" href="/index.html">Home </a>
          {% else %}
            <a class="nav-link" href="/index.html">Home </a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.name=="reports.html" %}
            <a class="nav-link current" href="/reports.html">Reports</a>
          {% else %}
            <a class="nav-link" href="/reports.html">Reports</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if page.name=="about.html" %}
          <a class="nav-link current" href="/About.html">About</a>
          {% else %}
          <a class="nav-link" href="/About.html">About</a>
          {% endif %}
        </li>
        <li class="nav-item ">
          {% if page.name=="blog.html" %}
          <a class="nav-link current" href="/Blog.html" >Blog</a>
          {% else %}
          <a class="nav-link" href="/Blog.html" >Blog</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>