---
---
// Color Definitions
$primary-color:#0A112B;
$secondary-color:#10193C;
$tertiary-color:#ed5d2b;
$quaternary-color:#FFFFFF;

// Font definitions
$primary-font:'Oswald', sans-serif;
$secondary-font:'EB Garamond', serif;

html{
    height: 100%;
}
body{
    font-family: $primary-font;
    background-color: $primary-color;
    color: white;
    position:relative;
    min-height: 100vh;
    padding-bottom: 110px;
}

//Navbar
.nav-link{
    color: $quaternary-color !important;
    font-family: $primary-font !important;
    padding-right: 50px !important;
    text-align: right;
    transition-duration: 300ms;
    &:hover{
        color: $tertiary-color !important;
    }
}
.current{
    color: $tertiary-color !important;
}

//Footer
.footerBox{
    height: 70px;
    width: 100%;
    background-color: $secondary-color;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: $secondary-font;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}
.footerText{
    text-align: center; 
    font-size: 17px;
    margin-left: 30px;
}
.footerImage{
    padding-right: 20px;
    height: 40px;
    transition-duration: 500ms;

    &:hover {
        transform: scale(1.2);

        filter: invert(55%) sepia(56%) saturate(2836%) hue-rotate(359deg) brightness(101%) contrast(106%);
    }
}

//homeLayout
.homepageMainName{
    font-family: $primary-font;
    color: $tertiary-color;
    font-size: 130px;
    margin-top: 7vh;
}
.homepageAbstract{
    font-family: $secondary-font;
    color: $quaternary-color;
    font-size: 20px;
    width: 75%;
}
.homepageDisplayBox{
    background-color: $secondary-color;
    width:100%;
    height: 300px;
    box-shadow: 30px 30px 6px #000000;
    margin-top: 7vh;
    text-align:center;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content:space-around;
}
.homepageContainer{
    display: flex; 
    flex-wrap:wrap;
    margin-left: 5vw;
    width: 90vw;
    justify-content:space-evenly;
    align-items:center;
}
.homepageCol{
    width: 500px;
}

//collumns
.collumnsFlexbox{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
}
.collumnsCollumn{
    background-color: $secondary-color;
    box-shadow: 30px 30px 6px #000000;
    width: 330px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.collumnsHeader{
    color: $tertiary-color;
    font-family: $primary-font;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 10px;
}
.collumnsReport{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: center;
    font-size: x-large;
    transition-duration: 300ms;
    &:hover{
        color: $tertiary-color;
        text-decoration: none;
    }
}

//cards
.cardsHeading{
    color: $tertiary-color;
    font-family: $primary-font;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.cardsFlexbox{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
    margin-left: 8vw;
    margin-right: 8vw;
}
.cardsCardBig{
    width: 400px;
}
.cardsImageBig{
    width: 200px;
}
.cardsTitleBig{
    color: $tertiary-color;
    font-family: $primary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.cardsRoleBig{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}
.cardsAbstractBig{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: left;
    font-size: large;
    margin-bottom: 0px;
}
.cardsCardMedium{
    width: 275px;
    margin-right: 10px;
    margin-left: 10px;
}
.cardsImageMedium{
    width: 150px;
}
.cardsTitleMedium{
    color: $tertiary-color;
    font-family: $primary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.cardsRoleMedium{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}
.cardsAbstractMedium{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: left;
    font-size: large;
    margin-bottom: 0px;
}
.cardsCardSmall{
    width: 180px;
    margin-right: 10px;
    margin-left: 10px;
}
.cardsImageSmall{
    width: 90px;
}
.cardsTitleSmall{
    color: $tertiary-color;
    font-family: $primary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.cardsRoleSmall{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}
.cardsAbstractSmall{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: left;
    font-size: large;
    margin-bottom: 0px;
}
.cardsSideshowBox{
    margin: auto;
    background-color: $secondary-color;
    width:80%;
    margin-left: 10%;
    box-shadow: 30px 30px 6px #000000;
    padding-top: 20px;
}
.cardsCarouselImage{
    height: 200px;
    width: auto;
    margin-bottom: 5px ;
}
.cardsCarouselName{
    color: $tertiary-color;
    font-family: $primary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}
.cardsCarouselAuthor{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}
.cardsCarouselText{
    color: $quaternary-color;
    font-family: $secondary-font;
    text-align: center;
    font-size: large;
    margin-bottom: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
//Blog
.blogFlexbox{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: left;
    margin-left: 12vw;
    margin-right: 12vw;
    align-items: stretch;
}
.blogBox{
    margin: auto;
    background-color: $secondary-color;
    width:80%;
    margin-left: 10%;
    box-shadow: 30px 30px 6px #000000;
    margin-bottom: 60px;
    padding: 10px 10px 10px 10px;
}
.blogPostImage{
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
.blogPostTitle{
    font-family: $primary-font;
    color: $tertiary-color;
    font-size: xx-large;
    transition-duration: 300ms;
    &:hover{
        color: $quaternary-color;
        text-decoration: none;
    }
}
.blogPostDate{
    font-family: $secondary-font;
    color: $quaternary-color;
    font-size: x-large;
}
.blogPostAbstract{
    font-family: $secondary-font;
    color: $quaternary-color;
    font-size: large;
}
.blogPostMain{
    width: 55%;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.blogImage{
    max-width: 100%;
    max-height: 90vh;
    margin: 0 auto;
}
.blogImageSubCap{
    text-align: center;
    padding-bottom: 5vh;
}
.blogVideo{
    width: 100%;
    max-height: 60vh;
    margin: 0 auto;
}
//generics
.section{
    font-family: $primary-font;
    font-size: xx-large;
    color: $tertiary-color;

}


.subsection{
    font-family: $primary-font;
    font-size: x-large;
    color: $tertiary-color;

}
.subsubsection{
    font-family: $primary-font;
    font-size: large;
    color: $quaternary-color;

}

.bodyText{
    font-family: $secondary-font;
    font-size: large;
    color: $quaternary-color;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bodyTextSmallGap{
    font-family: $secondary-font;
    font-size: large;
    color: $quaternary-color;
    margin-bottom: 10px;
    margin-top: 10px;
}

.genericTitle{
    font-family: $primary-font;
    font-size: 100px;
    color: $tertiary-color;
    text-align: center;
}
.blogImageUndertext{
    margin-top: 10px;
    text-align: center;
}
.blogCodeblock{
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.blogLink{
    display: inline;
}
a{
    color: $tertiary-color !important;
    transition-duration: 300ms;
    &:hover{
        color: $quaternary-color !important;
        text-decoration: none;
    }
}
.benchtopImage{
    max-width:100%;
    height:auto;
    max-height:100%;
}

.na:hover path {
    fill: blue;
}

.as:hover path {
    fill: red;
}

@keyframes hideshow {
    0% { opacity: 0; }
    39% { opacity: 0; }
    40% { opacity: 1; }
    44% { opacity: 1; }
    45% { opacity: 0; }
    59% { opacity: 0; }
    60% { opacity: 1; }
    64% { opacity: 1; }
    65% { opacity: 0; }
    75% { opacity: 0; }
    95% { opacity: 1; }
    100% { opacity: 1; }
  } 

.display-8000A {
    animation: hideshow 2s linear;
    animation-play-state: paused;
}


.svgWrapper8000A:hover .display-8000A{
        animation-play-state: running; 
}

.display-179 {
    animation: hideshow 2s linear;
    animation-play-state: paused;
}


.svgWrapper179:hover .display-179{
        animation-play-state: running; 
}

.display-192 {
    animation: hideshow 2s linear;
    animation-play-state: paused;
}


.svgWrapper192:hover .display-192{
        animation-play-state: running; 
}
